html { 
    background: url(/smoke.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    margin-bottom: 0px;
}

h1 {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 72px;
}

h2 {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100px;
}

h3 {
    display: block;
    color:white;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    text-decoration: none;
    font-size: 40px;
}

h4 {
    display: block;
    color:white;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    font-style: italic;
    font-size: 40px;
}

p {
    display: block;
    color:white;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
}

ul {
    display: block;
    color:white;
    text-align: left;
    padding-left: 24px;
    font-size: 24px;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 1.5;
}

iframe {
    padding: 24px;
    border: none;
}

img{
    width: 100%;
}

.space {
    height: 25%;
}

.smallspace {
    height: 5%;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.fa-bars {
    width: 10px;
    margin-right: 32px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram, .fa-envelope {
    float: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 50%;
}

.footer {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    bottom: 0;
    right: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

.navbar {
    font-size: 24px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
    padding-top: 10px;
}

@media screen and (min-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 45%;
    margin: 2.5%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.15);
}

.column h3 {
    text-align: center;
}

.square {
    list-style-type: square;
}

a {
    color: white;
}
